*.swp
*.pyc
pynhost/build
pynhost/dist
pynhost/pynhost.egg-info
pynguest/build
pynguest/dist
pynguest/pynguest.egg-info
docs/site
*/__pycache__
pynhost/pynhost/__pycache__
pynhost/pynhost/logs/*
pynhost/pynhost/grammars/*
docs/build
!pynhost/pynhost/grammars/sample1.py
!pynhost/pynhost/grammars/sample2.py
!pynhost/pynhost/grammars/_locals.py
!pynhost/pynhost/grammars/sublime text
!pynhost/pynhost/grammars/sublime text/subl.py