*.swp
pynhost/build
pynhost/dist
pynhost/pynhost.egg-info
pynguest/build
pynguest/dist
pynguest/pynguest.egg-info
docs/site
pynhost/pynhost/__pycache__
pynhost/pynhost/*
!pynhost/pynhost/sample.py
!pynhost/pynhost/_homonyms.py