*.swp
*.pyc
pynhost/build
pynhost/dist
pynhost/pynhost.egg-info
pynguest/build
pynguest/dist
pynguest/pynguest.egg-info
docs/site
*/__pycache__
pynhost/pynhost/__pycache__
pynhost/pynhost/logs/*
docs/build
